.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.achievement {
    font-size: 40px;
    background-color: #FFFB98;
    padding: 20px 0;
    text-align: center;
    margin: 20px auto 10px;
    width: 800px;
}
