body {
    position: relative;
}
/*
    For story scenery
*/
.story-scenery {
    position: relative;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
}
.story-image {
    width: 95vw;
    height: 95vh;
    display: block;
}
.story-text {
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    width: 100%;
    font-size: 33px;
    color: #fec04e;
    text-shadow: 
    3px 1px #8c67b6, 
    2px 1px #8c67b6;
    background-color: rgba(0, 0, 0, 0.415);
}
#webcamButton {
    border: 1px solid rgb(0, 0, 0);
    background-color: #FEDFDF;
    border-radius: 15px;
    color: inherit;
    text-shadow: inherit;
    padding: 0; /* Optional: Removes padding */
    font: inherit; /* Optional: Inherits the font from the parent element */
    cursor: pointer;
}

#answer {
    top: 450px;
    left: 500px;
    color: #000000;
    text-shadow: 
    3px 1px #fffcfc, 
    2px 1px #8c67b6;

}
.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Background color */
    opacity: 0; /* Initially hidden */
    z-index: 1; /* Place behind other content */
    transition: opacity 2s; /* Transition effect */
}
.fade.in {
    opacity: 0.5; /* Desired opacity */
}
.fade.out {
    opacity: 0;
}
/*
    For story description
*/
.story-description {
    margin-bottom: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 20px;
}

.story-title {
    text-align: center;
    padding-bottom: 10px;
}
.story-info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.label {
    font-weight: bold;
}

.description {
    text-align: justify;
}

.emotion-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}
.emotion-present {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.display {
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}
.display div {
    text-align: center;
}
.display img {
    width: 90%;
}
.display p {
    font-weight: bold;
    text-align: center;
}
.story-summary {
    padding: 10px;
}
.story-suggestions {
    padding: 10px;
}

@media screen and (max-width: 1400px){
    .story-description {
        margin-bottom: 0px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
    .story-summary {
        border-bottom: 1px solid black;
    }
    .story-details {
        padding: 10px;
        border-bottom: 1px solid black;
    }
}
