* {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 10px 2.5%;
}

.button-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 3;
    gap: 10px;
}

.achievement-button {
    grid-column: span 2;
    padding: 10px 20px;
}

.experiences-button {
    width: 80px;
}
