.card {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
    border: 1px solid black;
}

.card-image {
    width: 300px;
}

.scenario-header {
    text-align: center;
}

.subheader {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2;
}

.scenario-emotion {
    grid-column: span 1;
}

.scenario-description {
    grid-column: span 2;
}
