.mainContent {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 10px;
}

.leftSide {
  margin: 0 auto;
  width: 400px;
}

.webcam {
  height: 300px;
}

.buttonWebcam {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}

.rightSide {
  width: 600px;
}
