* {
    margin: 0;
    padding: 0;
}

.image-container {
    background-color: red;
    display: flex;
    border-radius: 20px;
    margin: 60px auto auto;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.img {
    padding: 20px;
}

.prompt-container {
    width: 1000px;
    margin: 20px auto;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: red;
    font-size: 25px;
}

.emotion {
    font-weight: bold;
    color: #f4ce47;
}

.camera-button {
    display: flex;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    width: 400px;
    border-radius: 25px;
    justify-content: center;
}
