body {
    position: relative;
}
/*
    For story scenery
*/
.story-scenery {
    position: relative;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
}
.story-image {
    width: 95vw;
    height: 95vh;
    display: block;
}
.story-text {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}
#webcamButton {
    top: 0;
    right: 0;
    position: absolute;
}
/*
    For story description
*/
.story-description {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 20px;
    background-color: white;
}

.story-title {
    text-align: center;
    padding-bottom: 10px;
}
.story-info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.label {
    font-weight: bold;
}

.description {
    text-align: justify;
}

.emotion-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
}
.emotion-present {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

