.main-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 10px;
}

.left-side {
    margin: 0 auto;
    width: 400px;
}
.webcam {
    height: 300px;
}
.button-webcam {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
}

.right-side {
    width: 600px;
}