* {
    margin: 0;
    padding: 0;
}

.introduction-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.story-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}

.story-genre {
    position: relative;
    background-color: blue;
    margin-bottom: 10px;
    height: 100%;
}
.story-genre a{
    text-decoration: none;
    color: white;
}
.story-genre-image {
    width: 300px;
    height: 500px;
    display: block;
}
.story-genre-title {
    position: absolute;
    text-align: center;
    top: 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.154);
}
.story-genre-description {
    position: absolute;
    text-align: center;
    bottom: 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.154);
}