* {
    margin: 0;
    padding: 0;
}

.introduction-image{
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}
.introduction-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;

    -webkit-text-stroke: 1px #b39c9ca8;
}
#introduction-text-description {
    top: 45%;
    font-size: 25px;
    -webkit-text-stroke: 1px #00000027;
}
.introduction-image img {
    position: absolute;
    height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.story-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
    padding-top: 10px;
}

.story-genre {
    position: relative;
    background-color: blue;
    margin-bottom: 10px;
    height: 100%;
}
.story-genre a{
    text-decoration: none;
    color: white;
}
.story-genre-image {
    width: 300px;
    height: 500px;
    display: block;
}
.story-genre-title {
    position: absolute;
    text-align: center;
    top: 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.154);
}
.story-genre-description {
    position: absolute;
    text-align: center;
    bottom: 0px;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.154);
}