.experiencesButtonContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 20px;
}

.achievementButton {
  grid-column: span 2;
  padding: 30px 20px;
}

.experiencesButton {
  width: 200px;
  padding: 70px 0 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.experiencesButton,
.achievementButton {
  font-size: 30px;
  font-weight: 500;
  background-color: #ffdba5;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 40px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1400px) {
  .experiencesButtonContainer {
    margin-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  .experiencesButton {
    width: 150px;
  }

  .experiencesButton,
  .achievementButton {
    font-size: 24px;
  }
}
