.introduction-image{
    overflow: hidden;
}
.introduction-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 35%;
    font-size: 250%;
    color: #fec04e;
    text-shadow: 
    3px 1px #8c67b6, 
    2px 1px #8c67b6;
}
#introduction-text-description {
    top: 45%;
    font-size: 150%;
}
.introduction-image img {
    transform: translate(-33%);
}
/*
    The stories listed
*/
.story-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
}
.story-genre {
    position: relative;
}
.story-genre-image {
    width: 400px;
    height: 600px;
}
.story-genre-title {
    top: 5%;
    position: absolute;
}
.story-genre-description {
    bottom: 5%;
    position: absolute;
}